/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    
  }
  
  .default {
    background-color: $button-default;
    &:hover {
      background-color: lighten($button-default, 20%);
    }
  }
  
  .error {
    background-color: $button-error;
    &:hover {
      background-color: lighten($button-error, 20%);
    }
  }
  
  .info {
    background-color: $button-info;
    &:hover {
      background-color: lighten($button-info, 20%);
    }
  }
  
  .success {
    background-color: $button-success;
    &:hover {
      background-color: lighten($button-success, 20%);
    }
  }
  
  .warning {
    background-color: $button-warning;
    &:hover {
      background-color: lighten($button-warning, 20%);
    }
  }
  